#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.game_squares_group{
  font-size: 40px;
  text-align: center;

}

#game_squares0, #game_squares1, #game_squares2, #game_squares3, 
#game_squares4, #game_squares5, #game_squares6, #game_squares7, #game_squares8{
  background-color: whitesmoke;
  height: 130px;
  width: 130px;
  margin: 10px;
}

.scoreBoard{
  margin-left: 0px;
  position: fixed;
  left: 30px;
  top: 30px;
}